{% extends 'base.html' %}
{% block conteudo %}
	<!-- Conteúdo Principal -->
	<section class="content">			
		<div class="row">
			<div class="col-xl-4 col-12">
				<div class="box">
					<div class="box-body">
						<div class="position-relative">
							<iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=9&pref_coin_id=1505&graph=yes" width="100%" height="586px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="lv"></iframe>
							
							<iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=dark&cnt=9&pref_coin_id=1505&graph=yes" width="100%" height="586px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="dv"></iframe>
						</div>							
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-12">
				<div class="box">						
					<div class="box-body">
						<div class="position-relative">
							<iframe src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505" width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px; min-height: 482px" class="lv"></iframe>

							<iframe src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=859&pref_coin_id=1505" width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px; min-height: 482px" class="dv"></iframe>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="box-body">
						<div class="position-relative">
							<iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=light&pref_coin_id=1505&invert_hover=no" width="100%" height="36px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="lv"></iframe>

							<iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover=no" width="100%" height="36px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="dv"></iframe>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-12">
				<div class="box">
					<div class="box-body">							
						<div class="position-relative">
							<iframe src="https://widget.coinlib.io/widget?type=single_v2&theme=light&coin_id=859&pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 lv"></iframe>
							
							<iframe src="https://widget.coinlib.io/widget?type=single_v2&theme=dark&coin_id=859&pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 dv"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="box">
					<div class="box-body">						
						<div class="position-relative">
							<iframe src="https://widget.coinlib.io/widget?type=single_v2&theme=light&coin_id=145&pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 lv"></iframe>
							
							<iframe src="https://widget.coinlib.io/widget?type=single_v2&theme=dark&coin_id=145&pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 dv"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="box">
					<div class="box-body">						
						<div class="position-relative">
							<iframe src="https://widget.coinlib.io/widget?type=converter&theme=light" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="min-h-260 w-p100 lv"></iframe>
							
							<iframe src="https://widget.coinlib.io/widget?type=converter&theme=dark" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="min-h-260 w-p100 dv"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
{% endblock conteudo %}