{% extends 'base.html' %}
{% block conteudo %}
	<!-- Conteúdo Principal -->
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Dashboard</h4>
					</div>
					<div class="box-body">
					  Página Inicial
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
					  Rodapé
					</div>
					<!-- /.box-footer-->
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
{% endblock conteudo %}